<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body style="background-color:aqua;">
<h1 style="text-align:center;color:orange;">register here</h1>
<div style="text-align:center; color:red;">
<form action=""method="post">
    {% csrf_token %}
    <input type="text" name="username" placeholder="enter your username"><br>
    <input type="text" name="firstname" placeholder="enter your first name"><br>
    <input type="text" name="lastname" placeholder="enter your lastname"><br>
    <input type="email" name="email" placeholder="enter your email"><br>
    <input type="password" name="password" placeholder="enter your password"><br>
    <input type="password" name="cpassword" placeholder="confirm your password"><br>
    <input type="submit">
</form>
</div>
{% for msg in messages %}
{{msg}}
{% endfor %}

</body>
</html>